:root {
    --tlo: #4C6464;
    --text: #7F784E;
  }

body {
    background-color: var(--tlo);
    color: goldenrod;
}

div {
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    border: solid 3px var(--text);
}

.head {
    width: 300px;
    height: 225px;
}

.comment {
    width: 300px;
    height: 50px;
    animation: backgroundCol 2s infinite ;
    border: solid 3px var(--tlo);
}


@keyframes backgroundCol {
    0% {
        background-color: var(--tlo);
    }
    66% {
        background-color: var(--text);
    }
    100% {
        background-color: var(--tlo);
    }
}
