* { 
    font-family: verdana;
    font-weight: bold;
}

body {
    --tlo: #4C6464;
    --text: #C5B358; /* #7F784E; */
    background-color: var(--tlo);
    color: var(--text);
}

div {
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    border: solid 3px #7F784E;
}

.head {
    width: 300px;
    height: 250px;
    color: var(--text);
}

.comment {
    width: 300px;
    height: 50px;
    border: solid 3px var(--tlo);
    animation: backgroundCol 2s infinite ;
}


@keyframes backgroundCol {
    0% {
        background-color: var(--tlo);
        color: var(--text);
    }
    66% {
        background-color: var(--text);
        color: var(--tlo);
    }
    100% {
        background-color: var(--tlo);
        color: var(--text);
    }
}

